body {
    background-color: #00FF51;
    color: #103B1E;
    font-family: Arial, sans-serif;
}
header {
    background-color: #D6FFC4;
    color: White;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}
h2 {
    color: ##389674;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
